/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* Global Settings */
html{
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.lock{
    overflow: hidden;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    word-wrap:break-word;
}
/*----------------------------------------------- */

/* Style for cart */
.detail_cart{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.detail_cart.open{
    opacity: 1;
    visibility: visible;
}

.detail_cart.open .cart__content{
    transform: translate(0px, 0px);
    opacity: 1;
}

.cart__body{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__content{
    background-color: #fff;
    border-radius: 12px;
    color: #000;
    max-width: 90vw;
    height: 65vh;
    width: 100vw;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translete(0px, -100%);
    display:flex;
    justify-content: flex-end;
    overflow: hidden;
}

.cart__menu{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cart__title{
    width: 100%;
    height: 10%;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.lots{
    width: 100%;
    height: 85%;
}

.cart_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.cart_item_name{
    width: 60%;
}

.cart_item_qty{
    width: 30%;
}

.cart_item_final_price{
    width: 20%;
}

.cart__price{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid grey;
}

.cart__price div{
    width: 90%;
    height: 10%;
    border: 2px solid red;
}

.order__btn{
    width: 90%;
    height: 20%;
    font-size: 30px;
    font-weight: 500;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------------------------------------- */
/*----------------------------------------------- */

/* Style for footer */
.footer{
    width: 100%;
    height: 30vh;
    min-height: 150px;
    background-color: #000;
    display: flex;
    justify-content: center;
    bottom: 0;
    flex: 0;
}

.footer_content{
    width: 95%;
    height: 100%;
    display: flex;
    justify-self: space-around;
    align-items: center;
}

.footer_logo{
    width: 40%;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    padding-top: auto;
}

.footer_menu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_button{
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.footer_button:active{
    border-top: 1px solid #000;
}

.footer_button img{
    width: 50px;
    height: 50px;
}
/*----------------------------------------------- */

/* Style for form on cart */
form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    width: 50%;
    height: 8%;
    border: 1px solid grey;
}
/*----------------------------------------------- */
