.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body.lock{
    overflow: hidden;
}

.main_shop{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}

.header_phone{
    width: 100%;
    height: 100px;
    background-color: #000;
}



/* Style for categories */
.categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #000;
}

.category_menu{
    font-weight: 500;
    color: #fff;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category_button{
    width: 25%;
    /* border-radius: 12px; */
    font-size: 30px;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
    /* margin-top: 20px; */
}

.active_categoty{
    font-size: 34px;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    transition-duration: 400ms;
    width: 32%;
}
/*----------------------------------------------- */


/* Style for content*/
.content{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 42vh;
    grid-gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*----------------------------------------------- */



/* Style for product on shop*/
.product_shop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.product_photo{
    height: 70%;
    width: 100%;
    /* position: relative; */
}
.product_photo img{
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.product_info{
    font-size: 24px;
    font-weight: 500;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border:2px solid red;
}

.product_info div{
    border:2px solid red;
}

.price_swing_wrapper{
    width: 90%;

    display: flex;
}

.swing{
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    background-color: #14b199;
}

.swing button{
    height: 32px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.swing div{
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}
/* Style for swing on cart*/
.qtt{
    width: 50%;
}
/*----------------------- */

.buy_button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #14b199;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy_button:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 400ms;
    cursor: pointer;
}
/*----------------------------------------------- */



/* Style for popup*/
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open{
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content{
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__body{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__content{
    background-color: #fff;
    border-radius: 12px;
    color: #000;
    max-width: 75%;
    height: 65vh;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translete(0px, -100%);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup_image{
    width: 45%;
    height: 80%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_image img{
    /* object-fit: contain;
    width: 100%;
    height: 100%; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.popup_info{
    width: 45%;
    height: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.popup_name{
    width: 100%;
    height: 15%;
    font-size: 35px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_description{
    width: 100%;
    height: 70%;
    overflow-x:hidden;
}

.popup_price{
    font-size: 35px;
    font-weight: 500;
    width: 100%;
    height: 15%;
    align-self: flex-end;
    border: 2px solid red;
}
/*----------------------------------------------- */