<link rel="stylesheet" href="../../static/UI/_cart.scss">
<link rel="stylesheet" href="../../static/landing/scss/home.scss">{% extends "index.html" %}
{% load static %}

{% block "container" %}
<main class="main">
    <div class="content_1" id="content_1">
        <div class="wrapper">
            <div class="content_1_title">
                КОСТРОМСКИЕ ЭКО-</br>ПРОДУКТЫ
            </div>
            <div class="slider_container">
                <div class="slider_track">
                    <div class="slider_item">
                        <img src="https://images3.alphacoders.com/190/thumb-1920-190787.jpg" alt="">
                    </div>
                    <div class="slider_item">
                        <img src="https://img1.akspic.ru/originals/4/8/8/6/46884-peyzash-preriya-urozhaj-senokosnoye_ugodye-ravnina-1920x1080.jpg" alt="">
                    </div>
                    <div class="slider_item">
                        <img src="https://img3.akspic.ru/originals/3/1/7/6/46713-yachmen-rozh-ferma-nebo-selskij_rajon-1920x1080.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="food_container_1">
        <div class="food_photo_1">

        </div>
        <div class=food_wrapper_1>
            <div class="food_title_1">
                Это загаловок тип
            </div>
            <div class="food_text_1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus obcaecati, blanditiis consectetur dolorum optio iusto sit odit recusandae eligendi saepe cupiditate cumque id molestias veniam repudiandae provident unde eum voluptates!
            </div>
        </div>
    </div>
    <div class="food_container_2">
        <div class="food_wrapper_2">
            <div class="food_title_2">
                Это загаловок тип
            </div>
            <div class="food_text_2">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore rem in explicabo libero culpa quia optio modi repellat delectus nobis earum architecto veritatis, ab, unde minima iure? Consectetur, dolorum dignissimos!
            </div>
        </div>
        <div class="food_photo_2">

        </div>
    </div>

    
    <div class="products" id="products">
        <div class="product_wrapper">
            <div class="product_menu">
                {% if products %}
                {% for product in products %}
                <div class="product_shop">
                    <a class="product_photo popup-link" id="link_{{product.id}}" href="#detail_{{product.id}}">
                        <img src="{{product.image.url}}" alt="">
                    </a>
                    <div class="product_info">
                        <div class="product_title">{{product.name}}</div>
                        <div class="price_swing_wrapper">
                            <div class="product_price">{{product.price}} ₽</div>
                            <div class="swing">
                                <button class="remove_button buy_button" id="{{product.id}}">
                                    -
                                </button>
                                <div class="qtt" id="qty_{{product.id}}"></div>
                                <button class="add_button buy_button" id="{{product.id}}">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="detail_{{product.id}}" class="popup">
                    <div class="popup__body">
                        <div class="popup__content">
                            <div class="popup_image"><img src={{product.image.url}} alt=""></div>
                            <div class="popup_info">
                                <div class="popup_name">{{product.name}}</div>
                                <div class="popup_description">{{product.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="title">Отзывы:</div>
    <div class="reviews" id="reviews">
        <div class="review_menu">
            <div class="review">
                <div class="nickname">Leha</div>
                <div class="text_review">Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.</div>
                <div class="date_review">05.06.977</div>
            </div>
            <div class="review">
                <div class="nickname">Leha</div>
                <div class="text_review">Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.</div>
                <div class="date_review">05.06.977</div>
            </div>
            <div class="review">
                <div class="nickname">Leha</div>
                <div class="text_review">Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.</div>
                <div class="date_review">05.06.977</div>
            </div>
        </div>
    </div>

    <div class="title"  id="map_title">Как нас найти:</div>
    <div class="map_wrapper">
        <div id="map" class="map"></div>
        <div class="map_info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem cupiditate eaque illum labore modi molestias nesciunt, nostrum numquam officiis, provident quaerat quis repudiandae tempora tempore unde veniam voluptate voluptatum.</div>
    </div>
</main>

<script src="{% static 'landing/js/home.js'%}"></script>
<script src="{% static 'products/js/shop.js'%}"></script>
<script src="{% static 'products/js/product_detail.js'%}"></script>

<script src="https://api-maps.yandex.ru/2.1/?apikey=1d092147-9ce1-462b-a2cd-375d68975a21&lang=ru_RU" type="text/javascript"></script>
<script src="{% static 'landing/js/map.js'%}"></script>

{% endblock %}
