{% extends "index.html" %}

{% block "container" %}
<div class="main">
    <div class="content_1" id="content_1">
        <div class="wrapper">
            <div class="content_1_title">
                КОСТРОМСКИЕ ЭКО-</br>ПРОДУКТЫ
            </div>
            <div class="slider_container">
                <div class="slider_track">
                    <div class="slider_item">
                        <img src="https://images3.alphacoders.com/190/thumb-1920-190787.jpg" alt="">
                    </div>
                    <div class="slider_item">
                        <img src="https://img1.akspic.ru/originals/4/8/8/6/46884-peyzash-preriya-urozhaj-senokosnoye_ugodye-ravnina-1920x1080.jpg" alt="">
                    </div>
                    <div class="slider_item">
                        <img src="https://img3.akspic.ru/originals/3/1/7/6/46713-yachmen-rozh-ferma-nebo-selskij_rajon-1920x1080.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="categories" id="categories">
        <div class="category_menu">
            <div class="category_button">
                <a href="#" class="drop_button">Категория 1</a>
                <div class="drop_menu">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="category_button">
                <a href="#" class="drop_button">Категория 2</a>
                <div class="drop_menu">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="category_button">Категория 3</div>
            <div class="category_button">Категория 4</div>
        </div>
    </div> -->
    <div class="food_container_1">
        <div class="food_photo_1">

        </div>
        <div class=food_wrapper_1>
            <div class="food_title_1">
                Это загаловок тип
            </div>
            <div class="food_text_1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus obcaecati, blanditiis consectetur dolorum optio iusto sit odit recusandae eligendi saepe cupiditate cumque id molestias veniam repudiandae provident unde eum voluptates!
            </div>
        </div>
    </div>
    <div class="food_container_2">
        <div class="food_wrapper_2">
            <div class="food_title_2">
                Это загаловок тип
            </div>
            <div class="food_text_2">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore rem in explicabo libero culpa quia optio modi repellat delectus nobis earum architecto veritatis, ab, unde minima iure? Consectetur, dolorum dignissimos!
            </div>
        </div>
        <div class="food_photo_2">

        </div>
    </div>

    <div class="products" id="products">
        <div class="product_wrapper">
            <div class="title">Еда тип</div>

            <div class="product_menu">
                <div class="product">
                    <div class="product_photo">
                        <img src="https://www.gastronom.ru/binfiles/images/20190828/b3fdbe5b.jpg" alt="">
                    </div>
                    <div class="product_info">
                        <div class="product_title">Мед: 1000р</div>
                        <div class="buy_button"><div>Курить</div></div>
                    </div>
                </div>
                <div class="product">
                    <div class="product_photo">
                        <img src="https://www.gastronom.ru/binfiles/images/20190828/b3fdbe5b.jpg" alt="">
                    </div>
                    <div class="product_info">
                        <div class="product_title">Мед: 1000р</div>
                        <div class="buy_button"><div>Курить</div></div>
                    </div>
                </div>
                <div class="product">
                    <div class="product_photo">
                        <img src="https://www.gastronom.ru/binfiles/images/20190828/b3fdbe5b.jpg" alt="">
                    </div>
                    <div class="product_info">
                        <div class="product_title">Мед: 1000р</div>
                        <div class="buy_button"><div>Курить</div></div>
                    </div>
                </div>
                <div class="product">
                    <div class="product_photo">
                        <img src="https://www.gastronom.ru/binfiles/images/20190828/b3fdbe5b.jpg" alt="">
                    </div>
                    <div class="product_info">
                        <div class="product_title">Мед: 1000р</div>
                        <div class="buy_button"><div>Курить</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="reviews" id="reviews">
        <div class="title">Отзывы тип:</div>
        <div class="review_menu">
            <div class="review">
                <div class="nickname">Leha</div>
                <div class="text_review">Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.</div>
                <div class="date_review">05.06.977</div>
            </div>
            <div class="review">
                <div class="nickname">Leha</div>
                <div class="text_review">Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.</div>
                <div class="date_review">05.06.977</div>
            </div>
            <div class="review">
                <div class="nickname">Leha</div>
                <div class="text_review">Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.Ебаный рот, этого казино.</div>
                <div class="date_review">05.06.977</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}