{% extends "index.html" %}
{%load static%}

{% block "container"%}
<div class="main_shop">
    <div class="header_phone"></div>
    <div class="categories" id="categories">
        <div class="category_menu">
            {% for category in categories%}
                <a href="{% url 'category' category.slug%}" class="category_button">{{category.name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="content">
        {%if products%}
            {%for product in products%}
            <div class="product_shop hide">
                <div class="product_photo">
                    <img src="{{product.image.url}}" alt="">
                </div>
                <div class="product_info">
                    <div class="product_title">{{product.name}}: </div>
                    <div class="buy_button"><div>{{product.price}} ₽</div></div>
                </div>
            </div>
            {%endfor%}
        {%endif%}
        {% if category_products %}
            {%for product in category_products%}
            <div class="product_shop">
                <div class="product_photo">
                    <img src="{{product.image.url}}" alt="">
                </div>
                <div class="product_info">
                    <div class="product_title">{{product.name}}: </div>
                    <div class="buy_button"><div>{{product.price}} ₽</div></div>
                </div>
            </div>
            {%endfor%}
        {% endif %}
    </div>
</div>
<script src="{% static 'products/js/shop.js'%}"></script>
{% endblock %}

