/* Style for footer */
.footer{
    width: 100%;
    height: 30vh;
    min-height: 150px;
    background-color: #2b2e34;
    display: flex;
    justify-content: center;
    bottom: 0;
    flex: 0;
}

.footer_content{
    width: 95%;
    height: 100%;
    display: flex;
    justify-self: space-around;
    align-items: center;
}

.footer_logo{
    width: 40%;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    padding-top: auto;
}

.footer_menu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_button{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    &:active{
        border-top: 1px solid #000;
    }
}


.footer_button img{
    width: 50px;
    height: 50px;
}
/*----------------------------------------------- */