/* Style for adaptive */

/* PC */
@media screen and (max-width: 1200px){
  .header_menu{
    width: 70%;
    border:2px solid red;
  }

  .logo{
    border:2px solid red;
  }
}

@media screen and (max-width: 1050px){
  .header_menu{
    width: 100%;
  }
}

/* iPad */
@media screen and (max-width: 734px){
  .header_menu{
    width: 90%;
  }
}